<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="container" id="playlist">
    </div>
    <div class="container" id="songlist">
        Enter Song Title: <input type="text" id="songTitle" />
        <button id="submit_button"  style="margin-bottom: 10px;">Submit</button>
        <div id="songDiv"></div>
    </div>

    <script src="js/song.js"></script>
    <script src="js/storage.js"></script>
    <script src="js/eventHandlers.js"></script>
</body>

</html>
